# =========================================
# SISTEMA OPERATIVO
# =========================================

.DS_Store
Thumbs.db


# =========================================
# INTELLIJ IDEA
# =========================================

.idea/
**/.idea/
*.iml


# =========================================
# BACKEND — MAVEN
# =========================================

**/target/


# =========================================
# BACKEND — ARCHIVOS SUBIDOS
# =========================================

backend/uploads/


# =========================================
# FRONTEND — NODE
# =========================================

**/node_modules/
**/dist/
dist-ssr/


# =========================================
# VARIABLES DE ENTORNO
# =========================================

.env
.env.*


# =========================================
# CONFIGURACIÓN LOCAL
# =========================================

backend/src/main/resources/application.properties
# Archivos temporales de Microsoft Office
~$*